@tailwind base;
@tailwind components;
@tailwind utilities;


.q{
    border-radius:5%;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
}
.aba:hover{
    background-color:#13D2AC;
}