*{
    padding:0;
    margin:0;
}
.image{
    width: 150px;
    border-radius: 150px;
}
.container{
    width: 280px;
    background: linear-gradient(to left bottom,#1c51ba,#191938);
    padding:10px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/*hover effect*/
.container:hover{
    animation: flip 0.5s;
    background: linear-gradient(to left bottom,#225dd4,#022669);
}
@keyframes flip {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotateY(360deg);
    }
    
}